body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom right, #1e3a8a, #16213e);
  color: white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


@keyframes float {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-50px, -50px);
  }
}

.register-page {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 500px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.register-page h2 {
  font-size: 2.5rem;
  color: #ff758c;
  margin-bottom: 10px;
}

.register-page p {
  font-size: 1rem;
  color: #f0f0f0;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
  width: 100%;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color:#f0f0f0
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1rem;
  outline: none;
  transition: background 0.3s ease, transform 0.2s ease;
}

.input-group input:focus {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(255, 117, 140, 0.5);
  transform: scale(1.02);
}

/* Doğrulama Başlığı */
.verify-heading {
  font-size: 1.8rem;  /* Boyut ayarı */
  color: #ff758c;     /* Renk ayarı */
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.btn-primary {
  display: inline-block;
  width: 100%;
  padding: 15px;
  background: linear-gradient(to right, #ff758c, #ff5274);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.btn-primary:hover {
  background: linear-gradient(to right, #ff5274, #ff758c);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.message-box {
  margin-top: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: white;
  text-align: left;
  border-left: 5px solid #ff758c;
}

.login-link {
  margin-top: 20px;
  color: #a9a9a9;
}

.login-link a {
  color: #ff758c;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-link a:hover {
  color: #ff5274;
}
